<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "HOA Survey" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/png">
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="<%= asset_path 'favicon.png' %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
   <!-- Navigation Bar -->
   
   
    <!-- Original 
     <ul class="left-nav">
       <li><%= link_to 'Home', home_index_path %></li>
       <li><%= link_to 'New', new_survey_path %></li>
       <li><%= link_to 'Surveys', surveys_path %></li>
     </ul>
      Original  -->



      <nav>
      <ul class="left-nav">
      <li><%= link_to 'Home', home_index_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'New', new_survey_path %></li>
        <li><%= link_to 'Surveys', surveys_path %></li>
      <% end %>
    </ul>
     
     <ul class="right-nav">
       <% if user_signed_in? %>
         <li class="dropdown">
           <a href="#" class="dropbtn">Welcome, <%= current_user.email %></a>
           <div class="dropdown-content">
             <%= link_to 'Edit profile', edit_user_registration_path %>
             <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
           </div>
         </li>
       <% else %>
         <li><%= link_to 'Sign up', new_user_registration_path %></li>
         <li><%= link_to 'Sign in', new_user_session_path %></li>
       <% end %>
     </ul>
   </nav>
   
  <!-- Navigation Bar -->


    <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  </body>
</html>
